{% extends 'cor/base.html' %}
{% load static %}
{% block home%}
<link rel="stylesheet" href="{% static 'cor/css/courses.css'%}">
{% endblock home%}



{%block contant%}
<div >
<div class="text-center" style=" background-image: url({% static 'cor/img/jigi.jpg'%}); height: 400px; background-size: cover;">
<img style="margin-top: 70px; padding-top: 30px;" width="100px" height="140px" src="{% static 'cor/img/s.png'%}" alt="">
<h1 style="color: white; padding-top: 35px;"><b> Thousands of courses authored by <br>
        our network of industry experts</b></h1>

</div>
</div>

<div class="text-center">
    <h5 style="padding-top: 40px;"><b> Featured Online Courses </b></h5>
    <h5 style="color:blue; font-weight: 800; ">_____</h5>




    <div class="bg1">
        <div style="
      padding-top: 30px;">
            
            <div class="container">
                <div class="row">
                    <div class="col m-2">
                        <div class="card" style="width: 18rem;">
                            <img height="200px" width="300px" style="" src="{% static 'cor/img/webdev.jpg'%}"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="text-center">
                                <p class="coursename"> Web-Dev</p>
                                <button class="enroll">enroll now</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col m-2">
                        <div class="card" style="width: 18rem;">
                            <img height="200px" width="300px" style="" src="{% static 'cor/img/cpp.png'%}"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="text-center">
                                <p class="coursename">C++</p>

                                <button class="enroll">enroll now</button>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col m-2">
                        <div class="card" style="width: 18rem;">
                            <img height="200px" width="300px" style=""; src="{% static 'cor/img/456.jpg'%}"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="text-center">
                                <p class="coursename"> PYTHON</p>

                                <button class="enroll">enroll now</button>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col " style="padding-top: 20px; margin-left: 8px;">
                        <div class="card" style="width: 18rem;">
                            <img height="200px" width="300px" style="" src="{% static 'cor/img/java1.jpg'%}"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="text-center">
                                <p class="coursename"> Java</p>
                                <button class="enroll">enroll now</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col " style="padding-top: 20px; margin-left: 5px;">
                        <div class="card" style="width: 18rem;">
                            <img height="200px" width="300px" style="" src="{% static 'cor/img/423.jpg'%}"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="text-center">
                                <p class="coursename"> Ms-Excel</p>
                                <button class="enroll">enroll now</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col " style="padding-top: 20px; margin-left: 5px;" >
                        <div class="card" style="width: 18rem;">
                            <img height="200px" width="300px" style="" src="{% static 'cor/img/django.png'%}"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="text-center">
                                <p class="coursename"> Django</p>
                                <button class="enroll">enroll now</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            </div>
            <br>
        
{%endblock contant%}
