{% extends 'cor/base.html' %}
{% load static %}
{% block home%}
<link rel="stylesheet" href="{% static 'sor/css/About.css'%}">
{% endblock home%}


{%block contant%}


<div class="text-center" style="padding-top: 70px;">
    <h1 style="padding-top: 30px; padding-left: 50px; font-weight: 600;"  ><b>ABOUT US</b>  </h1>
    <h3 style="padding-left: 60px;">______</h3> </div>


    <div class="container p-3">
        <div class="row">
            <div class="col-md-6">
                <h1><b> The technology workforce development company</b></h1>
            <h5 class="p-1">At Solid Learning, we believe everyone should have the opportunity to create progress through technology and develop the skills of tomorrow. With assessments, learning paths and courses authored by industry experts, our platform helps businesses and individuals benchmark expertise across roles, speed up release cycles and build reliable, secure products. <br>
            </h5> </div>
            <div class="col-md-6  text-center" style="margin-top: 20px;" >
                <img width="200px" height="200px" src="{% static 'cor/img/logo.png' %}" alt="">
            </div>
        </div>
    </div>
    

    <div class="container" style="text-justify: auto;">
        <div class="row">
            <div class="col-md-12 col-sm-12" >
                <p class="" style="font-weight: 500;" >
                    platform where students, graduates, young professionals, entrepreneurs are provided with the best online
            learning/training ecosystem that fits their need and industry. Our classes are tailored to ensure deep
            understanding of concepts, building practical skills & applying them in the real world, so that students
            thrive in their skill & beyond. Our live online classes cover courses for Python, C++, Java, Excel, Front-
            End
            Web-development, Back-end Web Development, Competitive Coding, Data science. Unlike Massive Open Online
            Courses, which are driven by traditional coursework, we try to revamp alternative learning and teaching
            methods by merging career counselling, online learning, personalize mentorship, and internships delivered by
            experts
                </p>
            </div>
        </div>

    </div>



{%endblock contant%}