{% extends 'cor/base.html' %}
{% load static %}
{% block home%}
<link rel="stylesheet" href="{% static 'cor/css/Blog.css'%}">
{% endblock home%}


{%block contant%}


<div class="container text-center "
style="background-image: url({% static 'sor/img/elearning2.jpg'%});  height: 370px;background-repeat: no-repeat; background-size: cover; ">
<div class="row">
    <div class="col-md-12">

        <h1 style="color: white; padding-top: 120px; font-weight:600;"><b>Blog</b> </h1>
        <h3 style="color: white; padding-top: 20px; font-weight:600; ">Fostering Thought Leadership to the Next Level</h3>
    </div>
</div>
</div>




<div class="container ">
    <div class="row">
        <div class="col-md-2 "></div>
        <div class="col-md-8 col-sm-2 ">
           
        <div>
            <div class="text-center" style="padding-bottom: 20px;">
            <h2 style="padding-top: 20px;"> <b> 1. E-Learning Fundamentals – Diane Elkins and Desiree Pinder </b></h2>
            <img width="300px" height="350px" src="{% static 'sor/img/12.jpg'%}" alt=""> </div>

            <h4>This ultimate roadmap covers the entire e-learning landscape.</h4>
            <p>This practical guide provides a broad overview of the e-learning process right from the start. It provides a base knowledge that will help you understand everything from the concepts to execution. This book will help you: </p>

            <p>
                <ul> 
                <li> Define e-learning and develop a strategy from both organizational and managerial perspectives</li>
                <li>Explore the design and development process of an e-learning course i.e., from analysis to evaluation</li>
                <li>Learn to develop a course using storyboards and you will also get practical advice, checklists, templates, etc.</li>
            </ul> </p>
        </div>
        <br>




        

          <div class="text-center" style="padding-bottom: 20px;">
            <h2 class="text-center"><b> 2. Features </b></h2>
            <img  width="500px" height="300px" src="{% static 'sor/img/features.jpg'%}" alt=""> </div>
            <p ><b>Here are some of the features of the Raspberry Pi 400: </b> </p> 

            <ul>
                <li> Broadcom BCM2711 quad-core Cortex-A72 (ARM v8) 64-bit SoC @ 1.8GHz</li>
                <li> 4GB LPDDR4-3200</li>
                <li> Dual-band (2.4GHz and 5.0GHz) IEEE 802.11b/g/n/ac wireless LAN</li>
                <li>Bluetooth 5.0, BLE</li>
                <li> Gigabit Ethernet</li>
                <li> 2 × USB 3.0 and 1 × USB 2.0 ports</li>
                <li> Horizontal 40-pin GPIO header</li>
                <li> 2 × micro HDMI ports (supports up to 4Kp60)</li>
                <li> 5V DC power (USB)</li>
                <li> Micro SD Slot</li></ul>
                <p> These hardware choices are interesting because the Raspberry Pi 4 has similar specs, but with
                    8GB of available RAM. The Raspberry Pi 400 only has a 4GB option. Personally, I would rather
                    have a machine intended for desktop computing to have more RAM than a possible IoT component,
                    but I’m sure there’s a good reason behind it.

                   <p> Thankfully they’ve included the powerful BCM2711 CPU to help speed it up. It feels very
                    responsive under normal usage.</p>
            
            </p>

            <br>

            
            <div class=" text-center " style="padding-bottom: 20px; padding-top: 10px;">
                <h1><b> 3. What is Web Development?</b></h1>
                <img width="500px" height="300px" src="{% static 'sor/img/22.jpg'%}" alt=""></div>
            <p>Web development is the building and maintenance of websites; it’s the work that happens behind the scenes to make a website look great, work fast and perform well with a seamless user experience. <br> </p>

              <p> Web developers, or ‘devs’, do this by using a variety of coding languages. The languages they use depends on the types of tasks they are preforming and the platforms on which they are working. <br></p> 
                
              <p> Web development skills are in high demand worldwide and well paid too – making development a great career option. It is one of the easiest accessible higher paid fields as you do not need a traditional university degree to become qualified. <br></p> 
                
              <p>  The field of web development is generally broken down into front-end (the user-facing side) and back-end (the server side). Let’s delve into the details.</p></p> 
        
        
              <div>






                <div class="text-center" style="padding-bottom: 20px; padding-top: 10px;"> <h2 ><b> 5. The Gamification of Learning and Instruction – Karl M. Kapp </b></h2> 
                    <img width="300px" height="350px" src="{% static 'sor/img/33.jpg'%}" alt=""> </div>
 
                 <p >This book explores gamification in detail. It explains how:
                     <ul>
                     <li> To use games and gamification techniques for training and education</li>
                     <li>To design effective and meaningful online courses using game mechanics</li>
                     <li>To match different game strategies to the types of learning content</li>
                     <li>Gamification techniques can be used to increase learning and retention</li>
                     <li>To manage the development of gamified training</li>
                     Finally, this book illustrates how instructional design thinking can be combined with
                 </ul></p>
                </div>  
 
        
                
        
        </div>


        </div>
        <div class="col-md-2"></div>
    </div>


{%endblock contant%}